subflows/flows (3).json
[{"id":"0f3f9995bbc70295","type":"subflow","name":"buttonplus_update_display","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"816cca106e8ae256"}]}],"out":[],"env":[{"name":"device","type":"str","value":"buttonplus_1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"buttonplus 1"},"v":"buttonplus_1"}]}}},{"name":"item","type":"num","value":"1","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"label","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["str","bool"]}}},{"name":"value","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["str","bool"]}}},{"name":"unit","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["str","bool"]}}},{"name":"svg","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["str","bool"]}}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-info-circle"},{"id":"b53bbe4836fc8780","type":"junction","z":"0f3f9995bbc70295","x":720,"y":120,"wires":[["7434e6df6025f026"]]},{"id":"7434e6df6025f026","type":"junction","z":"0f3f9995bbc70295","x":860,"y":120,"wires":[["37b5ee14f2c7bb60"]]},{"id":"74390e8f903ce70d","type":"junction","z":"0f3f9995bbc70295","x":580,"y":120,"wires":[["b53bbe4836fc8780"]]},{"id":"37b5ee14f2c7bb60","type":"mqtt out","z":"0f3f9995bbc70295","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ddefc30af122587f","x":1050,"y":120,"wires":[]},{"id":"bdd5f2b854ed1ad3","type":"function","z":"0f3f9995bbc70295","name":"label","func":"if (msg.label === false) {\n    return [msg, null];\n}\n\nlet msg2 = {\n    topic: msg.basetopic + \"/label/set\",\n    payload: msg.label\n};\n\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":60,"wires":[["091a5aa9337e9aaf"],["b53bbe4836fc8780"]]},{"id":"88e101dc50441983","type":"function","z":"0f3f9995bbc70295","name":"basetopic","func":"msg.basetopic = \"buttonplus/\" + msg.device + \"/displayitem/\" +  msg.item;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["8c8fe6e0fbca3b92"]]},{"id":"816cca106e8ae256","type":"function","z":"0f3f9995bbc70295","name":"input handle","func":"msg.device = msg.device || env.get(\"device\");\nmsg.item = msg.item || env.get(\"item\");\nmsg.label = msg.label || env.get(\"label\");\nmsg.value = msg.value || env.get(\"value\");\nmsg.unit = msg.unit || env.get(\"unit\");\nmsg.svg = msg.svg || env.get(\"svg\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":60,"wires":[["88e101dc50441983"]]},{"id":"091a5aa9337e9aaf","type":"function","z":"0f3f9995bbc70295","name":"value","func":"if (msg.value === false) {\n    return [msg, null];\n}\n\nlet msg2 = {\n    topic: msg.basetopic + \"/value/set\",\n    payload: msg.value\n};\n\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":60,"wires":[["02935b282066e7e1"],["7434e6df6025f026"]]},{"id":"02935b282066e7e1","type":"function","z":"0f3f9995bbc70295","name":"unit","func":"if (msg.unit === false) {\n    return [msg, null];\n}\n\nlet msg2 = {\n    topic: msg.basetopic + \"/unit/set\",\n    payload: msg.unit\n};\n\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":60,"wires":[[],["37b5ee14f2c7bb60"]]},{"id":"8c8fe6e0fbca3b92","type":"function","z":"0f3f9995bbc70295","name":"SVG","func":"if (msg.svg === false) {\n    return [msg, null];\n}\n\nlet msg2 = {\n    topic: msg.basetopic + \"/svg/set\",\n    payload: msg.svg\n};\n\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":60,"wires":[["bdd5f2b854ed1ad3"],["74390e8f903ce70d"]]},{"id":"ddefc30af122587f","type":"mqtt-broker","name":"Mosquitto","broker":"10.99.74.11","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"nodered/mqtt/state","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"nodered/mqtt/state","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"nodered/mqtt/state","willQos":"0","willPayload":"offline","willMsg":{},"userProps":"","sessionExpiry":""}]