subflows/flows (4).json
[{"id":"b06d0bd0b9a30a06","type":"subflow","name":"buttonplus_update_global","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"461a664a3fe74d8d"}]}],"out":[],"env":[{"name":"device","type":"str","value":"buttonplus_1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"buttonplus 1"},"v":"buttonplus_1"}]}}},{"name":"page","type":"bool","value":"false","ui":{"label":{"en-US":"Page"},"type":"input","opts":{"types":["num","bool"]}}},{"name":"brightness","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["num","bool"]}}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-info-circle"},{"id":"8f88b1eeefc1ed2e","type":"junction","z":"b06d0bd0b9a30a06","x":580,"y":120,"wires":[["df0f88bc4111b0cb"]]},{"id":"df0f88bc4111b0cb","type":"mqtt out","z":"b06d0bd0b9a30a06","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ddefc30af122587f","x":810,"y":120,"wires":[]},{"id":"a3b8bdc3f6154086","type":"function","z":"b06d0bd0b9a30a06","name":"page","func":"if (msg.page === false) {\n    return [msg, null];\n}\n\nlet msg2 = {\n    topic: msg.basetopic + \"/page/set\",\n    payload: msg.page\n};\n\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":60,"wires":[["15ec4e1004f37658"],["8f88b1eeefc1ed2e"]]},{"id":"cb25395e792403c3","type":"function","z":"b06d0bd0b9a30a06","name":"basetopic","func":"msg.basetopic = \"buttonplus/\" + msg.device;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["a3b8bdc3f6154086"]]},{"id":"461a664a3fe74d8d","type":"function","z":"b06d0bd0b9a30a06","name":"input handle","func":"msg.device = msg.device || env.get(\"device\");\nmsg.page = msg.page || env.get(\"page\");\nmsg.brightness = msg.button || env.get(\"brightness\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":60,"wires":[["cb25395e792403c3"]]},{"id":"15ec4e1004f37658","type":"function","z":"b06d0bd0b9a30a06","name":"brightness","func":"if (msg.brightness === false) {\n    return [msg, null];\n}\n\nlet msg2 = {\n    topic: msg.basetopic + \"/brightness/set\",\n    payload: msg.brightness\n};\n\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":60,"wires":[[],["df0f88bc4111b0cb"]]},{"id":"ddefc30af122587f","type":"mqtt-broker","name":"Mosquitto","broker":"10.99.74.11","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"nodered/mqtt/state","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"nodered/mqtt/state","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"nodered/mqtt/state","willQos":"0","willPayload":"offline","willMsg":{},"userProps":"","sessionExpiry":""}]