subflows/flows (1).json
[{"id":"c394c8e5ce008a41","type":"subflow","name":"buttonplus_led","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"ec522e0b6888622d"}]}],"out":[],"env":[{"name":"device","type":"str","value":"buttonplus_1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"buttonplus 1"},"v":"buttonplus_1"}]}}},{"name":"page","type":"num","value":"1","ui":{"label":{"en-US":"Page"},"type":"input","opts":{"types":["num"]}}},{"name":"button","type":"num","value":"1","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"led","type":"str","value":"front","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"front"},"v":"front"},{"l":{"en-US":"wall"},"v":"wall"}]}}},{"name":"led_color","type":"str","value":"#a10303","ui":{"label":{"en-US":"led color"},"type":"input","opts":{"types":["str"]}}},{"name":"led_delay","type":"str","value":"0.5","ui":{"label":{"en-US":"led duration"},"type":"select","opts":{"opts":[{"l":{"en-US":"0.5 sec"},"v":"0.5"},{"l":{"en-US":"1 sec"},"v":"1"},{"l":{"en-US":"none"},"v":"none"}]}}},{"name":"led_type","type":"str","value":"on","ui":{"label":{"en-US":"led on / off"},"type":"select","opts":{"opts":[{"l":{"en-US":"on"},"v":"on"},{"l":{"en-US":"off"},"v":"off"}]}}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-lightbulb-o"},{"id":"0f4295d6fb02880b","type":"delay","z":"c394c8e5ce008a41","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":60,"wires":[["ab759210b573cd59"]]},{"id":"de2534f91f4ebdb7","type":"delay","z":"c394c8e5ce008a41","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":60,"wires":[["d56b77cde75841de"]]},{"id":"cb2cf9f45dcb6a33","type":"function","z":"c394c8e5ce008a41","name":"topic + duration + payload","func":"msg.topic = msg.basetopic + \"/on/set\";\nmsg.delay = msg.led_delay * 1000;\nmsg.payload = true\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":60,"wires":[["850344b5bba4b6fb","0f4295d6fb02880b"]]},{"id":"ef2c52849ad31dd8","type":"mqtt out","z":"c394c8e5ce008a41","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ddefc30af122587f","x":1390,"y":100,"wires":[]},{"id":"10da1d8ff9925b67","type":"function","z":"c394c8e5ce008a41","name":"basetopic","func":"msg.basetopic = \"buttonplus/\" + msg.device + \"/button/\" +  msg.button + \"-\" + msg.page + \"/led/\" + msg.led;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["de2534f91f4ebdb7","9681f2708f1d415e","861903e78eaccfc0"]]},{"id":"ec522e0b6888622d","type":"function","z":"c394c8e5ce008a41","name":"input handle","func":"msg.device = msg.device || env.get(\"device\");\nmsg.page = msg.page || env.get(\"page\");\nmsg.button = msg.button || env.get(\"button\");\nmsg.led = msg.led || env.get(\"led\");\nmsg.led_color = msg.led_color || env.get(\"led_color\");\nmsg.led_delay = msg.led_delay || env.get(\"led_delay\");\nmsg.led_type = msg.led_type || env.get(\"led_type\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":60,"wires":[["10da1d8ff9925b67"]]},{"id":"d56b77cde75841de","type":"switch","z":"c394c8e5ce008a41","name":"","property":"led_delay","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":60,"wires":[["cb2cf9f45dcb6a33"],["e19ba9e426e89bb1"]]},{"id":"e19ba9e426e89bb1","type":"function","z":"c394c8e5ce008a41","name":"topic + payload","func":"msg.topic = msg.basetopic + \"/on/set\";\nmsg.payload = msg.led_type === \"on\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":100,"wires":[["850344b5bba4b6fb"]]},{"id":"ab759210b573cd59","type":"function","z":"c394c8e5ce008a41","name":"payload","func":"msg.payload = !msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["ef2c52849ad31dd8"]]},{"id":"9681f2708f1d415e","type":"function","z":"c394c8e5ce008a41","name":"topic + color payload","func":"msg.topic = msg.basetopic + \"/rgb/set\"\nmsg.payload = msg.led_color;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["1526dea3b7d41cb8"]]},{"id":"861903e78eaccfc0","type":"function","z":"c394c8e5ce008a41","name":"topic + brightness payload","func":"msg.topic = msg.basetopic + \"/brightness/set\"\nmsg.payload = 100;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":200,"wires":[["1526dea3b7d41cb8"]]},{"id":"850344b5bba4b6fb","type":"junction","z":"c394c8e5ce008a41","x":1020,"y":100,"wires":[["3fb9ca23681dccee"]]},{"id":"3fb9ca23681dccee","type":"junction","z":"c394c8e5ce008a41","x":1300,"y":100,"wires":[["ef2c52849ad31dd8"]]},{"id":"e782037430dbc62f","type":"junction","z":"c394c8e5ce008a41","x":1300,"y":140,"wires":[["ef2c52849ad31dd8"]]},{"id":"1526dea3b7d41cb8","type":"junction","z":"c394c8e5ce008a41","x":760,"y":140,"wires":[["e782037430dbc62f"]]},{"id":"24d8c0c8208b41de","type":"subflow","name":"buttonplus_button_click","info":"","category":"","in":[],"out":[{"x":930,"y":60,"wires":[{"id":"cdf84c28862221be","port":0}]},{"x":930,"y":140,"wires":[{"id":"cdf84c28862221be","port":1}]}],"env":[{"name":"device","type":"str","value":"buttonplus_1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"buttonplus 1"},"v":"buttonplus_1"}]}}},{"name":"page","type":"num","value":"1","ui":{"label":{"en-US":"Page"},"type":"input","opts":{"types":["num"]}}},{"name":"button","type":"num","value":"1","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"led","type":"str","value":"none","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"front"},"v":"front"},{"l":{"en-US":"wall"},"v":"wall"},{"l":{"en-US":"none"},"v":"none"}]}}},{"name":"led_color","type":"str","value":"#a10303","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"led_delay","type":"num","value":"0.5","ui":{"label":{"en-US":"duration (sec)"},"type":"input","opts":{"types":["num"]}}}],"meta":{},"color":"#DDAA99","outputLabels":["short press","long press"],"icon":"font-awesome/fa-hand-pointer-o"},{"id":"2fb12ae1c2478e37","type":"junction","z":"24d8c0c8208b41de","x":940,"y":100,"wires":[["d4894bb965b885ff"]]},{"id":"2d708d2ffb506194","type":"mqtt in","z":"24d8c0c8208b41de","name":"","topic":"","qos":"2","datatype":"auto-detect","broker":"ddefc30af122587f","nl":false,"rap":true,"rh":0,"inputs":1,"x":630,"y":100,"wires":[["cdf84c28862221be"]]},{"id":"cae934c733b87200","type":"inject","z":"24d8c0c8208b41de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["7234e7798e274215"]]},{"id":"29f59928257bc28b","type":"function","z":"24d8c0c8208b41de","name":"topic + action","func":"msg.topic = \"buttonplus/\" + msg.device + \"/button/\" + msg.button + \"-\" + msg.page + \"/pushbutton\";\nmsg.action = \"subscribe\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":100,"wires":[["2d708d2ffb506194"]]},{"id":"cdf84c28862221be","type":"switch","z":"24d8c0c8208b41de","name":"","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"shortpress","vt":"str"},{"t":"eq","v":"longpress","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":100,"wires":[["2fb12ae1c2478e37"],["2fb12ae1c2478e37"]]},{"id":"b515b897c74594d1","type":"subflow:c394c8e5ce008a41","z":"24d8c0c8208b41de","name":"","x":1440,"y":100,"wires":[]},{"id":"7234e7798e274215","type":"function","z":"24d8c0c8208b41de","name":"input handle","func":"msg.device = msg.device || env.get(\"device\");\nmsg.page = msg.page || env.get(\"page\");\nmsg.button = msg.button || env.get(\"button\");\nmsg.led = msg.led || env.get(\"led\");\nmsg.led_color = msg.led_color || env.get(\"led_color\");\nmsg.led_delay = msg.led_delay || env.get(\"led_delay\");\n\nflow.set(\"input\", JSON.parse(JSON.stringify(msg)));\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["29f59928257bc28b"]]},{"id":"d4894bb965b885ff","type":"function","z":"24d8c0c8208b41de","name":"restore input","func":"msg = flow.get(\"input\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":100,"wires":[["e9c92f619fd68ade"]]},{"id":"e9c92f619fd68ade","type":"switch","z":"24d8c0c8208b41de","name":"","property":"led","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":100,"wires":[["b515b897c74594d1"]]},{"id":"ddefc30af122587f","type":"mqtt-broker","name":"Mosquitto","broker":"10.99.74.11","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"nodered/mqtt/state","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"nodered/mqtt/state","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"nodered/mqtt/state","willQos":"0","willPayload":"offline","willMsg":{},"userProps":"","sessionExpiry":""}]