subflows/flows (2).json
[{"id":"c394c8e5ce008a41","type":"subflow","name":"buttonplus_led","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"ec522e0b6888622d"}]}],"out":[],"env":[{"name":"device","type":"str","value":"buttonplus_1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"buttonplus 1"},"v":"buttonplus_1"}]}}},{"name":"page","type":"num","value":"1","ui":{"label":{"en-US":"Page"},"type":"input","opts":{"types":["num"]}}},{"name":"button","type":"num","value":"1","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"led","type":"str","value":"front","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"front"},"v":"front"},{"l":{"en-US":"wall"},"v":"wall"}]}}},{"name":"led_color","type":"str","value":"#a10303","ui":{"label":{"en-US":"led color"},"type":"input","opts":{"types":["str"]}}},{"name":"led_delay","type":"str","value":"0.5","ui":{"label":{"en-US":"led duration"},"type":"select","opts":{"opts":[{"l":{"en-US":"0.5 sec"},"v":"0.5"},{"l":{"en-US":"1 sec"},"v":"1"},{"l":{"en-US":"none"},"v":"none"}]}}},{"name":"led_type","type":"str","value":"on","ui":{"label":{"en-US":"led on / off"},"type":"select","opts":{"opts":[{"l":{"en-US":"on"},"v":"on"},{"l":{"en-US":"off"},"v":"off"}]}}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-lightbulb-o"},{"id":"0f4295d6fb02880b","type":"delay","z":"c394c8e5ce008a41","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":60,"wires":[["ab759210b573cd59"]]},{"id":"de2534f91f4ebdb7","type":"delay","z":"c394c8e5ce008a41","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":60,"wires":[["d56b77cde75841de"]]},{"id":"cb2cf9f45dcb6a33","type":"function","z":"c394c8e5ce008a41","name":"topic + duration + payload","func":"msg.topic = msg.basetopic + \"/on/set\";\nmsg.delay = msg.led_delay * 1000;\nmsg.payload = true\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":60,"wires":[["850344b5bba4b6fb","0f4295d6fb02880b"]]},{"id":"ef2c52849ad31dd8","type":"mqtt out","z":"c394c8e5ce008a41","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ddefc30af122587f","x":1390,"y":100,"wires":[]},{"id":"10da1d8ff9925b67","type":"function","z":"c394c8e5ce008a41","name":"basetopic","func":"msg.basetopic = \"buttonplus/\" + msg.device + \"/button/\" +  msg.button + \"-\" + msg.page + \"/led/\" + msg.led;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["de2534f91f4ebdb7","9681f2708f1d415e","861903e78eaccfc0"]]},{"id":"ec522e0b6888622d","type":"function","z":"c394c8e5ce008a41","name":"input handle","func":"msg.device = msg.device || env.get(\"device\");\nmsg.page = msg.page || env.get(\"page\");\nmsg.button = msg.button || env.get(\"button\");\nmsg.led = msg.led || env.get(\"led\");\nmsg.led_color = msg.led_color || env.get(\"led_color\");\nmsg.led_delay = msg.led_delay || env.get(\"led_delay\");\nmsg.led_type = msg.led_type || env.get(\"led_type\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":60,"wires":[["10da1d8ff9925b67"]]},{"id":"d56b77cde75841de","type":"switch","z":"c394c8e5ce008a41","name":"","property":"led_delay","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":60,"wires":[["cb2cf9f45dcb6a33"],["e19ba9e426e89bb1"]]},{"id":"e19ba9e426e89bb1","type":"function","z":"c394c8e5ce008a41","name":"topic + payload","func":"msg.topic = msg.basetopic + \"/on/set\";\nmsg.payload = msg.led_type === \"on\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":100,"wires":[["850344b5bba4b6fb"]]},{"id":"ab759210b573cd59","type":"function","z":"c394c8e5ce008a41","name":"payload","func":"msg.payload = !msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["ef2c52849ad31dd8"]]},{"id":"9681f2708f1d415e","type":"function","z":"c394c8e5ce008a41","name":"topic + color payload","func":"msg.topic = msg.basetopic + \"/rgb/set\"\nmsg.payload = msg.led_color;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["1526dea3b7d41cb8"]]},{"id":"861903e78eaccfc0","type":"function","z":"c394c8e5ce008a41","name":"topic + brightness payload","func":"msg.topic = msg.basetopic + \"/brightness/set\"\nmsg.payload = 100;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":200,"wires":[["1526dea3b7d41cb8"]]},{"id":"850344b5bba4b6fb","type":"junction","z":"c394c8e5ce008a41","x":1020,"y":100,"wires":[["3fb9ca23681dccee"]]},{"id":"3fb9ca23681dccee","type":"junction","z":"c394c8e5ce008a41","x":1300,"y":100,"wires":[["ef2c52849ad31dd8"]]},{"id":"e782037430dbc62f","type":"junction","z":"c394c8e5ce008a41","x":1300,"y":140,"wires":[["ef2c52849ad31dd8"]]},{"id":"1526dea3b7d41cb8","type":"junction","z":"c394c8e5ce008a41","x":760,"y":140,"wires":[["e782037430dbc62f"]]},{"id":"ef3bfcbded9698de","type":"subflow","name":"buttonplus_update_button","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"0206d36e88c6e01f"}]}],"out":[],"env":[{"name":"device","type":"str","value":"buttonplus_1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"buttonplus 1"},"v":"buttonplus_1"}]}}},{"name":"page","type":"num","value":"1","ui":{"label":{"en-US":"Page"},"type":"input","opts":{"types":["num"]}}},{"name":"button","type":"num","value":"1","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"led","type":"str","value":"none","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"front"},"v":"front"},{"l":{"en-US":"wall"},"v":"wall"},{"l":{"en-US":"none"},"v":"none"}]}}},{"name":"led_color","type":"str","value":"#a10303","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"led_delay","type":"str","value":"0.5","ui":{"label":{"en-US":"led duration"},"type":"select","opts":{"opts":[{"l":{"en-US":"0.5 sec"},"v":"0.5"},{"l":{"en-US":"1 sec"},"v":"1"},{"l":{"en-US":"none"},"v":"none"}]}}},{"name":"led_type","type":"str","value":"on","ui":{"label":{"en-US":"Led on/of"},"type":"select","opts":{"opts":[{"l":{"en-US":"on"},"v":"on"},{"l":{"en-US":"off"},"v":"off"}]}}},{"name":"label","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"value","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-info-circle"},{"id":"911aad1c2b836883","type":"junction","z":"ef3bfcbded9698de","x":580,"y":120,"wires":[["72ace32804dd3cfb"]]},{"id":"72ace32804dd3cfb","type":"mqtt out","z":"ef3bfcbded9698de","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ddefc30af122587f","x":770,"y":120,"wires":[]},{"id":"084d2fb47f7539fc","type":"function","z":"ef3bfcbded9698de","name":"label","func":"msg.topic = msg.basetopic + \"/toplabel/set\";\nmsg.payload = msg.label;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":60,"wires":[["ec7c822c580335d2","911aad1c2b836883"]]},{"id":"4ee8e811a27b291e","type":"function","z":"ef3bfcbded9698de","name":"basetopic","func":"msg.basetopic = \"buttonplus/\" + msg.device + \"/button/\" +  msg.button + \"-\" + msg.page;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["084d2fb47f7539fc"]]},{"id":"0206d36e88c6e01f","type":"function","z":"ef3bfcbded9698de","name":"input handle","func":"msg.device = msg.device || env.get(\"device\");\nmsg.page = msg.page || env.get(\"page\");\nmsg.button = msg.button || env.get(\"button\");\nmsg.led = msg.led || env.get(\"led\");\nmsg.led_color = msg.led_color || env.get(\"led_color\");\nmsg.led_delay = msg.led_delay || env.get(\"led_delay\");\nmsg.led_type = msg.led_type || env.get(\"led_type\");\nmsg.label = msg.label || env.get(\"label\");\nmsg.value = msg.value || env.get(\"value\");\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":60,"wires":[["4ee8e811a27b291e"]]},{"id":"ec7c822c580335d2","type":"function","z":"ef3bfcbded9698de","name":"value","func":"msg.topic = msg.basetopic + \"/label/set\";\nmsg.payload = msg.value;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":60,"wires":[["705e1461e8930462","72ace32804dd3cfb"]]},{"id":"705e1461e8930462","type":"subflow:c394c8e5ce008a41","z":"ef3bfcbded9698de","name":"","x":800,"y":60,"wires":[]},{"id":"ddefc30af122587f","type":"mqtt-broker","name":"Mosquitto","broker":"10.99.74.11","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"nodered/mqtt/state","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"nodered/mqtt/state","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"nodered/mqtt/state","willQos":"0","willPayload":"offline","willMsg":{},"userProps":"","sessionExpiry":""}]